body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#topBtn:hover{
    background-color: #555;
}

.title {
    background-color:black;
    color: white;
    padding: 30px;
}

.content {
    background-color: lightgray;
    padding: 30px 30px 250px;
}